<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cipher App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<br>
<h2>Encrypt/Decrypt Text</h2>
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" name="operation" value="encrypt">Encrypt</button>
    <button type="submit" name="operation" value="decrypt">Decrypt</button>
</form>

{% if result_text %}
    <h3>Result:</h3>
    <p>{{ result_text }}</p>
{% endif %}

</body>
</html>
